@import "tailwindcss";

@theme {
  --color-foreground: #000000;
  --color-background: #f7f6f9;
  --color-primary: #f0ae2b;
  --color-secondary: #b2a593;
  --color-dark-accent: #ae4e41;
  --color-dark-shades: #36595c;
  --color-light-shades: #e7e6e9;
}
